<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.aplayer) %>">

<div id="my-aplayer"
 class="aplayer" 
 data-id='<%- theme.myMusic.id %>'
 data-server='<%- theme.myMusic.server %>'
 data-type='<%- theme.myMusic.type %>'
 data-autoplay='<%- theme.myMusic.autoplay %>'
 data-order='<%- theme.myMusic.order %>'
 data-theme='<%- theme.myMusic.theme %>'
 data-lrcType='<%- theme.myMusic.lrcType %>'
 data-fixed="true" 
 data-volume="0.55" 
 data-preload="auto" 
></div>
<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.aplayer) %>"></script>
<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.meting) %>"></script>
